

@import url('vars.css');
@import url('font.css');

body {
    font-family: 'Open Sans';
    font-size: 16px;
}
.header {
    background-color: #76c7c0;
}


.navbar {
    max-width: 1110px;
    padding: 1.5rem 1rem;
}
.navbar-brand,
.nav-link {
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-brand {
    font-weight: 800;
    font-size: 30px;
}

.navbar-brand span {
    font-size: 25px;
    text-transform: lowercase;
    font-weight: 400;
}
.nav-item:not(:last-child) {
    margin-right: 10px;
}

.nav-link {
    padding: 0.625rem 0.3125rem;
    font-size: 14px;
    font-weight: 600;
    border: 0.25rem solid transparent;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #ffffff;
}
.nav-link:hover {
    background-color: #62a29e;
    border-radius: 0.25rem;
    border-bottom: 0.25rem solid #528b86;
}

.nav-link:active,
.nav-link:focus {
    background-color: #e8645a;
    border-radius: 6px;
    border-bottom: 0.25rem solid #e2534b;
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
  }

.navbar-nav {
    margin-left: auto;
}

.dropdown-menu {
    margin-top: 10px;
    padding: 7px;
    background-color: #e2534b;
    border-radius: 6px;
    position: relative;
}

.dropdown-menu:before{
    content: " ";
    display: block;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #e2534b;
    position: absolute;
    top: -7px;
    left: 10px;
}
.dropdown-item {
    position: relative;
    color: #e7f4f3;
    padding: 10px 16px 10px 24px;
}

.dropdown-item:not(:last-child) {
    margin-bottom: 7px;
}

.dropdown-item:before {
    content: " ";
    display: inline-block;
    background-image: url(../img/triangle-right.png);
    width: 6px;
    height: 9px;
    position: absolute;
    left: 10px;
    transform: translateY(85%);
}

.dropdown-item:hover {
    color: #e7f4f3;
    background-color: #e5655d;
    border-radius: 6px;
}

.dropdown-item:focus,
.dropdown-item:active {
    color: #e7f4f3;
    border-radius: 6px;
    background-color: #76c7c0;
}
.container-fluid-slider {
    background-color: #7f8c8c
}
.carousel {
    width: 100%;
    height: 500px;
    position: relative;
}

.slide .carousel-inner {
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 70%;   
}

.carousel .carousel-inner .carousel-item .carousel-caption h3 {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: #e2534b;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;
}

.carousel-inner .carousel-item .carousel-caption p  {
    width: 60%;
    background-color: #3f4646;
    padding: 15px 40px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
}
.carousel-indicators {
    position: absolute;
    bottom: -54px; 
}
.carousel-indicators li {
    background-color: #b0b8b9;
    width: 60px;
    height: 6px;
}   

.carousel-indicators li:not(:last-child) {
    margin-right: 10px;
} 

.carousel-indicators > .active {
    background-color: #e2534b;
}
.main {
    padding-top: 50px;
    background-color: #f3f3f3;
}
.jumbotron {
    border-radius: 0.25rem;  
    background-color: #ececec;
    padding: 1.5625rem;
  }

  .display-4 {
    color: #7f8c8c;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .lead {
    font-size: 12px;
    color: #777777;
    font-weight: 200;
  }

  .btn {
    padding: 1rem 2.75rem;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    background-color: #e8645a;
  }

  .btn:hover {
    color: #ffffff;
    background-color: #76c7c0;
  }

  .card {
      height: 100%;
  }

  .card-img-top{
      height: 52px;
      width: auto;
  }
  
  .card-title {
      margin-bottom: 2.375rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #7f8c8c;
    font-weight: 800;
    text-align: center;
  }

  .card-text {
    font-size: 13px;
    line-height: 21px;
    color: #777777;
    font-weight: 400;
    text-align: center;
  }
