:root {
    --gray-color: #f1f1f1;
    --beige-color: #f1eae8;
    --main-font-color: #333333;
    --pink-color: #d4416a;
    --pink-button-color: #cf4068;
    --white-color: #ffffff;
    --green-color: #e6e8dc;
    --purple-color:#800080;
    --light-gray-color: #a4a4a4;
}